        {% extends "main/principal.html" %}

        {% block content %}
        <div class="container">
        <div class="row">
            {% for cur in cursos %}
            <div class="col s12 m6">
                <div class="card indigo darken-4 z-depth-5">
                    <div class="card-content amber-text">
                        <span class="card-title">{{cur.curso_titulo}}</span>
                        <p>{{cur.curso_publicado}}</p>
                        <p>{{cur.curso_contenido|safe}}</p>
                    </div>

                    <div class="card-action">
                        <a href="#">Me Gusta</a>
                        <a href="#">Comentario</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {%endblock%}