{% load static %}
{% load i18n %}
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        <link rel="stylesheet" href=" {% static 'tinymce/css/prism.css' %} ">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Jorjon Web Page</title>
    </head>
    <body class="lime lighten-4">

        {% include "main/include/navbar.html" %}

        <!-- Parallax -->
        <div class="parallax-container">
            <div class="parallax"><img src="template/main/fondo.jpg"></div>
        </div>

            <div class="">
                <br>
          {% block content %}
          {%endblock%}
            </div>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        {% include "main/include/messages.html" %}

        <script src=" {% static 'tinymce/js/prism.js' %} "></script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
                var elems2 = document.querySelectorAll('.parallax');
                var instances2 = M.Parallax.init(elems2);
            });
        </script>

        {% include "main/include/footer.html" %}

    </body>
</html>