        <footer class="page-footer grey darken-4">
          <div class="">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="amber-text">Sobre Jorge</h5>
                <p class="grey-text text-lighten-4">Desarrollador trainee orientado a full stack. Autodidacta. Tecnico con conocimientos en Redes y Servidores de Videovigilancia, aprendiendo desarrollo web con Python, Django y Materialize. Me gusta el software libre. Tengo conociemiento en Linux y servers. En mi tiempo libre soy bajista.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="amber-text">Redes Sociales</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/jorge-osses-03078899/">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.hackerrank.com/Jorgitoosses">HackerRank</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/JorgeOsses19">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/jorge-osses">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 Copyright by Jorjon
            
            <a class="grey-text text-lighten-4 right" href="+541127218440">telefono</a>
            
            </div>
          </div>
        </footer>