{% if messages %}
            {% for message in messages %}

                <!-- exito -->
                {% if message.tags == 'success' %}
                    <script type="text/javascript">
                        M.toast({
                            html: '{{message}}',
                            classes: 'green rounded',
                            displayLength: 2000,
                        });
                    </script>
                {% endif %}

                <!-- info -->
                {% if message.tags == 'info' %}
                    <script type="text/javascript">
                        M.toast({
                            html: '{{message}}',
                            classes: 'blue rounded',
                            displayLength: 2000,
                        });
                    </script>
                {% endif %}

                <!-- warning -->
                {% if message.tags == 'warning' %}
                    <script type="text/javascript">
                        M.toast({
                            html: '{{message}}',
                            classes: 'orange rounded',
                            displayLength: 2000,
                        });
                    </script>
                {% endif %}

                <!-- error -->
                {% if message.tags == 'error' %}
                    <script type="text/javascript">
                        M.toast({
                            html: '{{message}}',
                            classes: 'red rounded',
                            displayLength: 2000,
                        });
                    </script>
                {% endif %}

            {% endfor %}
{% endif %}